@model vegetable.core.Entities.Holder

@{
    ViewData["Title"] = "Personal Web Site";
}

@section scripts{
    <!-- Polyfill(s) for older browsers -->
    <script src="~/lib/core-js/shim.min.js"></script>

    <script src="~/lib/zone.js/zone.js"></script>
    <script src="~/lib/reflect-metadata/Reflect.js"></script>
    <script src="~/lib/systemjs/system.src.js"></script>

    <script src="systemjs.config.js"></script>


    <script>
        System.import('app').catch(function (err) {
            console.error(err);
        });
    </script>

}

@if (Model != null)
{

    <div class="uk-flex uk-flex-column uk-flex-center uk-flex-middle" uk-height-viewport>
        <div>
            <div>
                <div class="uk-heading-primary">@Model.Title</div>
                @foreach (var tag in Model.Tags)
                {
                    <span>#@tag.Name.ToLower()</span>
                }
            </div>
            <br>
            <br>
            <h4>@Model.Description</h4>
            <br>
            <div class="uk-visible@s">

                <form class="uk-form-horizontal uk-margin-large">

                    <div class="uk-margin">
                        <label class="uk-form-label">E-MAIL</label>
                        <div class="uk-form-controls">
                            <p>@Model.Email</p>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label">PHONE</label>
                        <div class="uk-form-controls">
                            <p>@Model.Addresses.FirstOrDefault().PhoneNumbers.FirstOrDefault().Number</p>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label">WORKING HOURS</label>
                        <div class="uk-form-controls">
                            <p>10.00-18.00</p>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label">ADDRESS</label>
                        <div class="uk-form-controls">
                            <p>@Model.Addresses.FirstOrDefault().PostalCode, @Model.Addresses.FirstOrDefault().State, @Model.Addresses.FirstOrDefault().City, @Model.Addresses.FirstOrDefault().Street @Model.Addresses.FirstOrDefault().Unit</p>
                            <button class="uk-button uk-button-text">Show on Map</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div>
            <a class="uk-button uk-button-default" href="#wizard" uk-toggle>Book Online</a>
         </div>

       
       

    </div>

    <div id="menu" class="uk-offcanvas-overlay" uk-offcanvas="mode: push; overlay: true" style="display: none; z-index:0;">
        <div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-push">
            Hello!!!
        </div>
    </div>

    <div id="wizard" class="uk-modal-full" uk-modal>
        <div class="uk-modal-dialog uk-background-secondary" uk-height-viewport>
            <pws-app></pws-app>
        </div>
    </div>

   
}
else
{
    <div class="text-danger">Sorry, this site doesn't exist.</div>
}