@model vegetable.core.Entities.Holder

@{
    ViewData["Title"] = "Personal Web Site";
}

@section scripts{
    <!-- Polyfill(s) for older browsers -->
    <script src="~/lib/core-js/shim.min.js"></script>

    <script src="~/lib/zone.js/zone.js"></script>
    <script src="~/lib/reflect-metadata/Reflect.js"></script>
    <script src="~/lib/systemjs/system.src.js"></script>

    <script src="systemjs.config.js"></script>


    <script>
        System.import('app').catch(function (err) {
            console.error(err);
        });
    </script>

}

@if (Model != null)
{
    <div class="row">
        <div class="col-md-6 pws-content pws-vertical-center-container">
            <div class="pws-vertical-center-items">
                <div>
                   <div class="pws-title first after">
                        <span class="pws-tick"></span>
                        <div class="display-4"><a class="first after pws-title" href="#carousel-example-generic" data-slide="next">@Model.Title</a></div>
                        @foreach (var tag in Model.Tags)
                        {
                            <span>#@tag.Name.ToLower()</span>
                        }
                    </div>
                    <br>
                    <br>
                    <h6>@Model.Description</h6>
                    <br>
                    <div class="hidden-sm-down">
                        <div class="row">
                            <label class="col-sm-3 col-form-label">E-MAIL</label>
                            <div class="col-sm-9">
                                <p class="form-control-static mb-0">@Model.Address.Email</p>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3 col-form-label">PHONE</label>
                            <div class="col-sm-9">
                                <p class="form-control-static mb-0">@Model.Address.PhoneNumbers.FirstOrDefault().Number</p>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3 col-form-label">WORKING HOURS</label>
                            <div class="col-sm-9">
                                <p class="form-control-static mb-0">10.00-18.00</p>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3 col-form-label">ADDRESS</label>
                            <div class="col-sm-9">
                                <p class="form-control-static mb-0">@Model.Address.PostalCode, @Model.Address.Country, @Model.Address.State, @Model.Address.City, @Model.Address.Street @Model.Address.Unit</p>
                                <p><span class="pws-tick"></span><a class="first after" href="#">Show on map</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <pws-app></pws-app>
    </div>
}
else
{
    <div class="text-danger">Sorry, this site doesn't exist.</div>
}